.nav{
    position: fixed;
    top: 0;
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 20px;
    height: 35px;
    z-index: 99;
}

.nav__black{
    background-color: #111;
    transition: all 0.5s;
}

.nav__clear{
    background-image: linear-gradient(0deg, rgba(37, 37, 37, 0.01), rgba(37, 37, 37, 0.51), #111);
    transition: all 0.5s;
}

.nav__logo{
    position: fixed;
    width: 6rem;
    object-fit: contain;
    left: 60px;
    cursor: pointer;
}

.nav__avatar{
    position: fixed;
    width: 40px;
    object-fit: contain;
    right: 60px;
    cursor: pointer;
}
