.row{
    color: white;
    margin-left: 20px;
}

.row__posters{
  display: flex;
  overflow-y: hidden;
  overflow-x: scroll;
  padding: 20px;
}

.row__posters::-webkit-scrollbar {
  display: none;
}

.row__poster {
  width: 100%;
  object-fit: contain;
  max-width: 200px;
  transition: transform 450ms;
  margin-right: 10px;
  cursor: pointer;
}

.row__poster:hover {
  transform: scale(1.08);
}

.row__posterLarge {
  max-height: 300px;
}

.row__posterLarge:hover {
  transform: scale(1.09);
}

.left_side{
    display: flex;
    background-image: linear-gradient(90deg, transparent, rgba(37, 37, 37, 0.61), #111);
    width: 100px;
}

.left_arrow{
    background-image: url("../assets/left-arrow.png");
    background-size: contain;
    background-repeat: no-repeat;
    width: 30px;
    height: 30px;
    cursor: pointer;
    position: absolute;
    align-self: center;
    z-index: 1;
    left: 20px;
}